<app-navbar></app-navbar>

<div>
    <table mat-table [dataSource]="alarms" class="mat-elevation-z8 search-wrapper">
        <ng-container matColumnDef="creationDate">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let element"> {{element.creationDate | date}} </td>
        </ng-container>
        <ng-container matColumnDef="computerName">
            <th mat-header-cell *matHeaderCellDef> Computer Name </th>
            <td mat-cell *matCellDef="let element"> {{element.computerName}} </td>
        </ng-container>
        <ng-container matColumnDef="appName">
            <th mat-header-cell *matHeaderCellDef> App Name </th>
            <td mat-cell *matCellDef="let element"> {{element.appName}} </td>
        </ng-container>

        <ng-container matColumnDef="service">
            <th mat-header-cell *matHeaderCellDef> Service </th>
            <td mat-cell *matCellDef="let element"> {{element.service}} </td>
        </ng-container>
        <ng-container matColumnDef="user">
            <th mat-header-cell *matHeaderCellDef> User </th>
            <td mat-cell *matCellDef="let element"> {{element.user}} </td>
        </ng-container>

        <ng-container matColumnDef="message">
            <th mat-header-cell *matHeaderCellDef> Message. </th>
            <td mat-cell *matCellDef="let element"> {{element.message}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator class="search-wrapper" [length]="length" [pageIndex]="pageIndex" [pageSize]="25" showFirstLastButtons>
    </mat-paginator>
</div>