<app-navbar></app-navbar>

<div>
    <div *ngIf="!createCertificate" class="center">
        <div *ngIf="certificate">
            <h1>Certificate Details</h1>
            
            <table class="info-table">
                <tr>
                    <td>Common name</td>
                    <td>{{certificate.commonName}}</td>
                </tr>

                <tr>
                    <td>Serial number</td>
                    <td>{{certificate.serialNumber}}</td>
                </tr>
                <tr>
                    <td>Organisation</td>
                    <td>{{certificate.organisation}}</td>
                </tr>
                <tr>
                    <td>Organisation Unit</td>
                    <td>{{certificate.organisationUnit}}</td>
                </tr>
                <tr>
                    <td>Country</td>
                    <td>{{certificate.country}}</td>
                </tr>

                <tr>
                    <td>Signature Algorithm</td>
                    <td>{{certificate.signatureAlgorithm}}</td>
                </tr>

                <tr>
                    <td>isCA</td>
                    <td>{{certificate.ca}}</td>
                </tr>

                <tr>
                    <td>Valid From</td>
                    <td>{{certificate.validFrom | date:'h:mm:ss  dd:MM:yyyy'}}</td>
                </tr>

                <tr>
                    <td>Valid To</td>
                    <td>{{certificate.validTo | date:'h:mm:ss  dd:MM:yyyy'}}</td>
                </tr>
                <tr>
                    <td>Revoked</td>
                    <td>{{certificate.revoked}}</td>
                </tr>
            </table>
            <table mat-table [dataSource]="certificate.childCertificates" class="mat-elevation-z8 search-wrapper">

                <ng-container matColumnDef="commonName" class="margin-small">
                    <th mat-header-cell *matHeaderCellDef class="margin-small"> commonName. </th>
                    <td mat-cell *matCellDef="let element"> {{element.commonName}} </td>
                </ng-container>
    
                <ng-container matColumnDef="serialNumber">
                    <th mat-header-cell *matHeaderCellDef class="margin-small"> serialNumber </th>
                    <td mat-cell *matCellDef="let element" class="margin-small"> {{element.serialNumber}} </td>
                </ng-container>
                <ng-container matColumnDef="organisation">
                    <th mat-header-cell *matHeaderCellDef class="margin-small"> organisation </th>
                    <td mat-cell *matCellDef="let element" class="margin-small"> {{element.organisation}} </td>
                </ng-container>
                <ng-container matColumnDef="organisationUnit">
                    <th mat-header-cell *matHeaderCellDef class="margin-small"> organisationUnit </th>
                    <td mat-cell *matCellDef="let element" class="margin-small"> {{element.organisationUnit}} </td>
                </ng-container>
                <ng-container matColumnDef="country">
                    <th mat-header-cell *matHeaderCellDef class="margin-small"> country </th>
                    <td mat-cell *matCellDef="let element" class="margin-small"> {{element.country}} </td>
                </ng-container>
                <ng-container matColumnDef="ca">
                    <th mat-header-cell *matHeaderCellDef class="margin-small"> ca </th>
                    <td mat-cell *matCellDef="let element" class="margin-small"> {{element.ca}} </td>
                </ng-container>
                <ng-container matColumnDef="validFrom">
                    <th mat-header-cell *matHeaderCellDef class="margin-small"> validFrom </th>
                    <td mat-cell *matCellDef="let element" class="margin-small"> {{element.validFrom | date:'h:mm:ss  dd:MM:yyyy'}} </td>
                </ng-container>
                <ng-container matColumnDef="validTo">
                    <th mat-header-cell *matHeaderCellDef class="margin-small"> validTo </th>
                    <td mat-cell *matCellDef="let element" class="margin-small"> {{element.validTo | date:'h:mm:ss  dd:MM:yyyy'}} </td>
                </ng-container>
                <ng-container matColumnDef="revoked">
                    <th mat-header-cell *matHeaderCellDef class="margin-small"> revoked </th>
                    <td mat-cell *matCellDef="let element" class="margin-small"> {{element.revoked}}</td>
                </ng-container>
                <ng-container matColumnDef="view">
                    <th mat-header-cell *matHeaderCellDef class="margin-small"> view </th>
                    <td mat-cell *matCellDef="let element" class="margin-small"><button  mat-stroked-button color="primary"  (click)="viewCertificate(element.id)">View Certificate</button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <div>
            <button  mat-stroked-button color="primary"class="bt-margin-small"  (click)="createCertificateButton()" *ngIf="certificate.ca && !certificate.revoked">Create Certificate</button>
            <button  mat-stroked-button color="primary"class="bt-smargin-small"  (click)="revokeCertificate()" *ngIf="certificate && !certificate.revoked">Revoke Certificate</button>
            <button  mat-stroked-button color="primary" class="bt-margin-small" (click)="back()" *ngIf="certificate && notRoot()">Back</button>

        </div>

    </div>
    <app-create-certificate *ngIf="createCertificate" [issuerId]="id" (createdEvent)="created()">
    </app-create-certificate>
</div>