<div class="search-wrapper">

        <form [formGroup]="searchForm">
            <div>
                <mat-form-field>
                    <mat-label>Level</mat-label>
                    <select  matNativeControl  id="level" formControlName="level">
                        <option value="ERROR">ERROR</option>
                        <option value="WARN">WARN</option>
                        <option value="INFO">INFO</option>
                        <option value="">None</option>
                    </select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>System</mat-label>
                    <select  matNativeControl  id="system" formControlName="system">
                        <option value="Windows">Windows</option>
                        <option value="Linux">Linux</option>
                        <option value="">None</option>
                    </select>
                </mat-form-field>
            </div>

            <div style="display: inline;">
                <mat-form-field>
                    <input id="appName" formControlName="appName" matInput placeholder="appName" />
                </mat-form-field>
            </div>
            <br/>
            <div style="display: inline;">
                <mat-form-field>
                    <input id="service" matInput formControlName="service" placeholder="service" />
                </mat-form-field>
            </div>
            <br/>
            <div style="display: inline;">
                <mat-form-field>
                    <input id="computerName" matInput formControlName="computerName" placeholder="computerName" />
                </mat-form-field>
            </div>
            <br/>
            <div style="display: inline;">
                <mat-form-field>
                    <input id="user" matInput formControlName="user" placeholder="user"/>
                </mat-form-field>
            </div>
            <br/>
            <button mat-button color="primary" (click)="search()">Search</button>
            <button mat-button color="primary" (click)="searchRegex()">Regex</button>
            <button mat-button color="primary" (click)="clear()">Clear</button>
        </form>

</div>