<app-navbar></app-navbar>

<div class="center">
  <h2>Login</h2>
  <form class="form center" [formGroup]="loginForm" (ngSubmit)="loginForm.valid && onLogInSubmit()" noval>
    <mat-card-content>
        <div>
            <mat-form-field class="field-full-width">
                <input id="username" matInput formControlName="username" placeholder="Username" />
                <mat-error>Username can not be blank.</mat-error>
            </mat-form-field>
        </div>
  
        <div>
            <mat-form-field class="field-full-width">
                <input id="password" matInput formControlName="password" placeholder="Password"
                    [type]="hide ? 'password':'text'" />
                <mat-error>Password can not be blank.</mat-error>
                <mat-icon matSuffix (click)="hide = !hide">
                    {{hide ? 'visibility' : 'visibility_off'}}
                </mat-icon>
            </mat-form-field>
        </div>
  
    </mat-card-content>
    <button id="loginBt" mat-stroked-button color="primary" class="btn-block">Log in</button>
  </form>
</div>

