<app-navbar></app-navbar>

<div class="reports-wrapper">

    <mat-tab-group mat-align-tabs = "center">
        <mat-tab label="Logs">
            <div class="center-div">
                <div>
                    <h2>Time Period:</h2>
                    <mat-form-field>
                        <input id="startDate" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" matInput
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="startDate" placeholder="Start date">
                        <owl-date-time #dt1></owl-date-time>
                    </mat-form-field>
                    <mat-form-field>
                        <input id="endDate" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" matInput
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="endDate" placeholder="End date">
                        <owl-date-time #dt2></owl-date-time>
                    </mat-form-field>
                    <mat-form-field>
                        <select matNativeControl required [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="typeOfDate">
                            <option value="recorded">Recorded Date</option>
                            <option value="processed">Processed Date</option>
                        </select>
                    </mat-form-field>
                </div>
                <div>
                    <button mat-stroked-button color="primary" (click)="applyForLogs('computerName')">Computer Name</button>
                    <button mat-stroked-button color="primary" (click)="applyForLogs('level')">Level</button>
                    <button mat-stroked-button color="primary" (click)="applyForLogs('system')">System</button>
                </div>
            </div>

            <!--Chart-->
            <div class="chart-wrapper" *ngIf = "showLogs">
                <canvas baseChart [datasets]="barChartDataLogs" [labels]="barChartLabelsLogs" [options]="barChartOptions"
                    [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
                </canvas>
            </div>
        </mat-tab>


        <mat-tab label="Alarms">

            <div class="center-div">
                <div>
                    <h2>Time Period:</h2>
                    <mat-form-field>
                        <input  [owlDateTime]="dt3" [owlDateTimeTrigger]="dt3" matInput
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="startDate" placeholder="Start date">
                        <owl-date-time #dt3></owl-date-time>
                    </mat-form-field>
                    <mat-form-field>
                        <input id="endDate2" [owlDateTime]="dt4" [owlDateTimeTrigger]="dt4" matInput
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="endDate" placeholder="End date">
                        <owl-date-time #dt4></owl-date-time>
                    </mat-form-field>
                </div>
                <div>
                    <button mat-stroked-button color="primary" (click)="applyForAlarms('computerName')">Computer Name</button>
                    <button mat-stroked-button color="primary" (click)="applyForAlarms('system')">System</button>
                </div>
            </div>

            <!--Chart-->
            <div class="chart-wrapper" *ngIf = "showAlarms">
                <canvas baseChart [datasets]="barChartDataAlarms" [labels]="barChartLabelsAlarms" [options]="barChartOptions"
                    [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
                </canvas>
            </div>
        </mat-tab>
    </mat-tab-group>





</div>