
.reports-wrapper {
    margin-top: 5%;
}

.center-div {
    margin: auto;
    width: 30%;
}

.text {
    font-size: larger;
    margin-right: 1%;
}

mat-form-field {
    margin-left: 2%;
}

.chart-wrapper {
    width: 60%;
    height: 60%;
    margin: auto;
    margin-top: 2%;
}