<app-navbar></app-navbar>

<form class="form center" [formGroup]="generateCertificateForm" (ngSubmit)="generateCertificateForm && onGenerateSubmit()" noval>
    <mat-card-content>
        <div>
            <mat-form-field class="field-full-width">
                <input id="commonName" matInput formControlName="commonName" placeholder="Common Name" />
                <mat-error>Common name can not be blank.</mat-error>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="field-full-width">
                <input id="surname" matInput formControlName="surname" placeholder="Surname" />
                <mat-error>Surname can not be blank.</mat-error>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="field-full-width">
                <input id="givenName" matInput formControlName="givenName" placeholder="Given Name" />
                <mat-error>Given name can not be blank.</mat-error>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="field-full-width">
                <input id="organizationalUnit" matInput formControlName="organizationalUnit" placeholder="Organizational Unit" />
                <mat-error>Organizational unit can not be blank.</mat-error>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="field-full-width">
                <input id="email" matInput formControlName="email" placeholder="Email" />
                <mat-error>Email can not be blank.</mat-error>
            </mat-form-field>
        </div>
    </mat-card-content>
    <button id="generateCertificateBt" mat-stroked-button color="primary" class="btn-block">Generate Certificate</button>
</form>