<app-navbar></app-navbar>
<div>
    <div class="center">
        <button mat-stroked-button color="primary" class="button-space" (click)="reports()">Reports</button>
        <button mat-stroked-button color="primary" class="button-space" (click)="alarms()">Alarms</button>
        <button mat-stroked-button color="primary" class="button-space" (click)="generateCertificate()">Generate Certificate</button>
    </div>
    
    <app-search (searchResult)="showSearchResult($event)"></app-search>
    <div>
        <table mat-table [dataSource]="logs" class="mat-elevation-z8 search-wrapper">

            <ng-container matColumnDef="level">
                <th mat-header-cell *matHeaderCellDef> Level. </th>
                <td mat-cell *matCellDef="let element"> {{element.level}} </td>
            </ng-container>

            <ng-container matColumnDef="dateRecorded">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let element"> {{element.dateRecorded | date}} </td>
            </ng-container>

            <ng-container matColumnDef="service">
                <th mat-header-cell *matHeaderCellDef> Service </th>
                <td mat-cell *matCellDef="let element"> {{element.service}} </td>
            </ng-container>

            <ng-container matColumnDef="computerName">
                <th mat-header-cell *matHeaderCellDef> Computer Name </th>
                <td mat-cell *matCellDef="let element"> {{element.computerName}} </td>
            </ng-container>
            <ng-container matColumnDef="user">
                <th mat-header-cell *matHeaderCellDef> User </th>
                <td mat-cell *matCellDef="let element"> {{element.user}} </td>
            </ng-container>
            <ng-container matColumnDef="system">
                <th mat-header-cell *matHeaderCellDef> System </th>
                <td mat-cell *matCellDef="let element"> {{element.system}} </td>
            </ng-container>
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Description </th>
                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [length]="length" [pageIndex]="pageIndex" [pageSize]="25" showFirstLastButtons>
        </mat-paginator>
    </div>


</div>