.search-wrapper {
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    width: 60%;
}


.search-wrapper form .field-full-width {
    width: 100%;
}

.paginator{
    justify-content: center;
    display: flex;
  }
  
.center{
    margin-right: auto;
    margin-left: auto;
    width: 350px;
    margin-top: 2%;
}
.button-space{
    margin-right: 5px;
    margin-left: 5px;
}
.right{
    margin-left: 90%;
}
